@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Arvo", serif; */
body {
    background-image: url(../img/comand__natsu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    letter-spacing: 1px;
    font-family: "Arvo", serif;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header__link {
    font-size: 20px;
    font-weight: 400;
    transition: all .3s ease-in-out;
}
.header__link:hover {
    transform: scale(1.1);
}
.logo {
    width: 150px;
}
.main {
    margin: 0 15%;
    background-color: #ffffffce;
    padding: 0 7%;
}
.fairy__family {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
}
.container-right,
.container-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 55%;
}
.container__title {
    font-size: 36px;
    font-weight: 400;
}
.container__text {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}
.container__img {
    width: 37%;
    height: 37%;
}
.container-quote {
    padding: 0 7% 100px 7%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;    
    font-weight: 300;
    line-height: 25px;
    font-style: italic;
}
.author-quote {
    text-align: end;
    padding-top: 5px;
}
.container-left .container__text,
.container-left .container__title {
    text-align: end;
}
.magic__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 50px;
}
.magic__row {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.magic__name {
    text-align: center;
    transition: all .3s ease-in-out;
    transition-delay: .1s;
}
.img-container {
    overflow: hidden;
    width: 250px;
    height: 208px;
}
.img-container img {
    width: 100%;
    transition: all .3s ease-in-out;
}
.img-container:hover img,
.magic__row-img:hover .magic__name {
    transform: scale(1.12);
}
.magic__information {
    text-align: center;
    padding: 100px 20%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.magic__island {
    width: 100%;
    margin-bottom: 100px;
}