@media (max-width: 1450px) {
    .conteiner__row {
        flex-wrap: wrap;
    }
    .conteiner__item {
        width: 45%;
    }
    .item__picture {
        width: 100%;
    }
    .play__row {
        display: none;
    }
    .btn__play svg {
        width: 120%;
        height: 120%;
    }
}
@media (max-width: 1260px){
    .conteiner {
        padding: 2% 16%;
    }
}
@media (max-width: 1024px) {
    .lang {
        margin-right: 0;
    }
    .btn__play {
        top: 35%;
        left: 37%;
    }
    .icon__group {
        gap: 25px;
    }
    .icon {
        width: 20px;
        height: 20px;
    }
    .pol__conf {
        font-size: 12px;
    }
}
@media (max-width: 1440px) {
    .header {
        padding: 0 15%;
    }
    .lang {
        right: 14%;
    }
    .nav__btn {
        gap: 10px;
    }
}
@media (max-width: 1240px) {
    .header {
        gap: 25px;
        padding: 0 10%;
    }
    .lang {
        right: 9%;
    }
    .btn {
        padding: 2px 8px;
        font-size: 12px;
    }
    .downMusic {
        font-size: 12px;
    }
    .search {
        width: 200px;
        font-size: 12px;
    }
    .logo {
        width: 90px;
    }
}
@media (max-width: 850px) {
    .header {
        padding: 0 5%;
    }
    .lang {
        right: 4%;
    }
}
@media (max-width: 768px) {
    .header nav {display: none;}
    .menu-icon {display: block;}
}
@media (max-width: 768px) {
    .header {
        position: relative;
        padding: 0 5%;
    }
    .header.responsive nav {display: block; }
    .nav {
        position: absolute;
        top: 75px;
        margin-left: -5%;
        overflow: hidden;
        display: block;
        width: 100%;
        z-index: 100;
        box-shadow: 2px 4px 6px 0 rgba(194, 192, 192, 0.25);
    }
    .search {
        width: 100%;
        display: block;
    }
    .nav__btn {
        flex-direction: column;
        width: 100%;
        display: block;
    }
    .btn {
        width: 100%;
        padding: 6.7px;
        border: none;
        background-color: #f8f8f8;
        color: #000;
    }
    .downMusic {
        padding: 6.7px;
        background-color: #f8f8f8;
        border: 1px solid #f8f8f8;
        width: 100%;
        display: block;
    }
    .btn:hover,
    .downMusic:hover {
        background-color: #000;
        color: #fff;
    }
}