.banner {

    display: flex;
    align-items: center;
    justify-content: space-between;

    .banner__text {
        width: 675px;
        position: relative;
        z-index: 10;
        margin-right: -105px;

        p {
            margin-top: 25px;
            width: 470px;
        }
    }
    .banner__img {
        width: 540px;
        height: 676px;
        border-radius: 0 40px 40px 40px;
    }
}