.btn {
    width: 172px;
    height: 58px;
    border-radius: 29px;
    background: rgb(247, 132, 52);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    color: #fff;
}